[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pexpect = "*"
click = "*"
jmespath = "*"

[dev-packages]
moto = {extras = ["ssm"], version = "*"}
python-dotenv = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"
